{
  "env": {
    "browser": true,
    "es2021": true
  },

  "ignorePatterns": [
    "webpack.config.js"
  ],

  "extends": [
    "airbnb-typescript",
    "airbnb-typescript-prettier"
  ],

  "parser":"@typescript-eslint/parser",

  "parserOptions": {
    "project":"./tsconfig.json"
  },

  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],

  "rules" : {
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true
      }
    ]
  },

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
