.buttons-wrapper {
  display: flex;
}

.skip-button,
.like-button {
  width: 100px;
  height: 40px;
  list-style: none;
  font-size: 0.9em;
  color: #fff;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.skip-button {
  background: #fe0667;
}

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5e69ff;
}