@use '../../shared/variables.scss' as variables;

.buttons-wrapper {
  display: flex;
}

.skip-button {
  background: variables.$mainButtonColor;
}

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$secondButtonColor;
}