* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
//   background: rgb(253, 216, 149);
//   background: -moz-linear-gradient(60deg, rgb(253, 216, 149) 30%, rgb(255, 166, 142) 100%);
//   background: -webkit-linear-gradient(60deg, rgb(253, 216, 149) 30%, rgb(255, 166, 142) 100%);
//   background: -o-linear-gradient(60deg, rgb(253, 216, 149) 30%, rgb(255, 166, 142) 100%);
//   background: -ms-linear-gradient(60deg, rgb(253, 216, 149) 30%, rgb(255, 166, 142) 100%);
//   background: linear-gradient(141deg, rgb(253, 216, 149) 30%, rgb(255, 166, 142) 100%);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}